{{define "subnav"}}
<div id="subnav">
	<a href="/kanri">Index</a>
	<a href="/kanri/safe">Safe Approval</a>
	<a href="/kanri/tags/approval">Tag Approval</a>
	<a href="/kanri/tags/history">Tag History</a>
	<form class="subnav-button-form" method="post" action="/kanri/logout">
	     <input class="subnav-button-link" type="submit" value="Logout">
	</form>
</div>
{{end}}
