{{define "title"}}Safe Approval{{end}}
{{define "css"}}
<style>
	.safe {
		margin: 0.5em;
		display: block;
		overflow: auto;
	}
	.safe-body form  {
		font-size: 120%;
		line-height: 1.2;
	}
	.safe-body span  {
		font-size: 120%;
		line-height: 1.2;
	}
	.safe-thumb {
		float: left;
		min-width: 192px;
		min-height: 192px;
	}
	.safe-body {
		padding: 0.5em;
		overflow: auto;
		display: block;
		line-height: 1.2;
	}
	.safe-body input[type="submit"] {
		padding: 0.5em;
		margin: 0.5em;
	}
</style>
{{end}}
{{define "content"}}
{{if .Data.Images}}
  <div class="safe">
  Total: {{.Data.Total}}
  </div>
{{end}}
{{range .Data.Images}}
<div class="safe">
	<div class="safe-thumb">
		<a href="/kanri/_image/{{.Hash}}"><img src="/kanri/_thumb/{{.Hash}}"></a>
	</div>
	<div class="safe-body">
		<span><a href="/post/view/{{.ID}}">#{{.ID}}</a> Rated by: {{.Rater}} ({{.RaterIP}}) on {{.RateDateFormat}}</span>
		<form method="POST" action="/kanri/safe/rate">
			<input type="hidden" name="id" value="{{.ID}}">
			<input id="sInput{{.ID}}" type="radio" name="rating" value="s" {{if eq .Rating "s"}}checked{{end}}>
			<label for="sInput{{.ID}}">Safe</label>
			<input id="qInput{{.ID}}" type="radio" name="rating" value="q" {{if eq .Rating "q"}}checked{{end}}>
			<label for="qInput{{.ID}}">Questionable</label>
			<input id="eInput{{.ID}}" type="radio" name="rating" value="e" {{if eq .Rating "e"}}checked{{end}}>
			<label for="eInput{{.ID}}">Explicit</label>
			<input type="submit" value="Rate">
		</form>
	</div>
</div>
{{else}}

<div class="alert alert-success">
	<strong>Woot:</strong> Every image rating is approved!
</div>
{{end}}
{{end}}
