{{define "title"}}Tags Diff{{end}}
{{define "css"}}
<style>
	.tag-history {
		margin: 0.5em;
		display: block;
		overflow: auto;
		line-height: 1.2;
	}
	.diff {
		margin: 0.5em;
		font-family: monospace;
	}
	.removed {
		color: darkred;
	}
	.added {
		color: darkgreen;
	}
</style>
{{end}}
{{define "content"}}
{{if .Data}}
	{{with .Data}}
	<div class="tag-history">
		{{with .New}}
		<span><a href="/post/view/{{.ImageID}}">#{{.ImageID}}</a>  ({{.UserIP}}) on {{.DateSet}}</span>
		<div>{{.Tags}}</div>
		{{end}}
	</div>
	<div class="tag-history">
		{{with .Old}}
		<span><a href="/post/view/{{.ImageID}}">#{{.ImageID}}</a>  ({{.UserIP}}) on {{.DateSet}}</span>
		<div>{{.Tags}}</div>
		{{end}}
	</div>
	<div id="diff" class="diff">
		{{ range $r := .Removed }}
			<li><strong class="removed">---</strong> {{ $r }}</li>
		{{ end }}
		{{ range $a := .Added }}
			<li><strong class="added">+++</strong> {{ $a }}</li>
		{{ end }}
	</div>
	{{end}}

{{else}}
<div class="alert alert-info">
	<strong>Info:</strong> Compare what?
</div>
{{end}}
{{end}}
